:root {
  --br: 1em; /* border-radius */
  --displayHeight: 30em;
  --displayWidth: 30em;
  --bgColorLight: #303030;
  --bgColorDark: #1f2229;
  --textColor1: #ffbb00;
  --textColor2: #ffffff;
  --hoverColor: #0ef;
}

html {
  background: url("../images/bg.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
