.main-grid {
  display: grid;
  grid-template-rows: 4vh 91vh;
  grid-row-gap: 0.5em;
  padding: 2vh;
}

.main-header {
  display: grid;
  grid-row: 1;
  grid-template-rows: auto;
  grid-auto-flow: column;
  text-align: center;
  background: var(--bgColorLight);
  color: var(--textColor1);
  font-family: Courier;
  border: 0.01em solid var(--textColor1);
  border-radius: var(--br);
  overflow: hidden;
}

.menu-grid {
  display: grid;
  grid-row: 2;
  grid-template-columns: var(--displayWidth) minmax(20em, auto) 5em;
  grid-template-rows: var(--displayHeight) auto;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  height: auto;
}

.menu-display {
  display: inline-flex;
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: url("../images/tile.png");
  background-size: 5%;
  color: var(--textColor2);
  font-family: "Courier New", Courier, monospace;
  font-size: 2em;
  font-weight: bold;
  border: 0.01em solid var(--textColor2);
  border-radius: var(--br);
}

.menu-monitor {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0.2em;
  grid-row-gap: 0.2em;
  border-radius: var(--br);
}

.menu-monitor-stats {
  display: grid;
  grid-template-rows: 4em auto;
  background: var(--bgColorDark);
  padding: 0 2em 0 2em;
  align-items: top;
  border: 0.01em solid var(--textColor2);
  border-radius: var(--br);
}

.menu-monitor-stats-header {
  display: inline-flex;
  align-items: center;
  justify-content: left;
  white-space: pre-line;
  line-height: 25px;
  font-size: 18px;
  color: var(--textColor1);
}

.menu-monitor-stats-body {
  display: inline-flex;
  align-items: top;
  justify-content: left;
  white-space: pre-line;
  line-height: 25px;
  font-size: 14px;
  color: var(--textColor2);
}

.menu-action-sidebar {
  display: grid;
  grid-column: 3;
  grid-row: 1;
  grid-template-rows: auto 2em;
  justify-content: center;
  background: var(--bgColorLight);
  color: var(--textColor1);
  border: 0.01em solid var(--textColor1);
  border-radius: var(--br);
}

.menu-action-queue {
  display: grid;
  grid-row: 1;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  grid-gap: 0.5em;
  justify-content: baseline;
  padding: 0.5em;
  overflow-y: auto;
}

.menu-action-clear {
  display: inline-flex;
  grid-row: 2;
  padding: 0.5em;
  background: var(--bgColorLight);
  color: var(--textColor1);
  border: 0.01em solid var(--textColor1);
  border-radius: inherit;
  align-items: center;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
}

.menu-footer {
  display: grid;
  grid-column: 1/4;
  grid-row: 2;
  grid-template-rows: 3em auto;
  grid-template-columns: 2fr 1fr;
  background: var(--bgColorLight);
  color: var(--textColor1);
  font-family: Courier;
  border: 0.01em solid var(--textColor1);
  border-radius: var(--br);
  overflow: hidden;
}

.menu-footer-tabs {
  display: grid;
  grid-row: 1;
  grid-column: 1;
  grid-auto-flow: column;
}

.box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0.01em solid var(--textColor1);
  /*border-radius: var(--br);*/
}

.tab {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0.01em solid var(--textColor1);
  /*border-radius: var(--br);*/
}

.menu-footer-actions {
  display: grid;
  grid-template-columns: repeat(10, 5vw);
  grid-auto-flow: row;
  grid-auto-rows: 5vw;
  grid-row: 2;
  grid-column: 1;
  grid-gap: 1.4vw;
  padding: 1em;
  border: 0.01em solid var(--textColor1);
  height: auto;
  overflow-y: auto;
}

.action {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0.01em solid var(--textColor1);
  border-radius: var(--br);
  background-color: var(--bgColorDark);
}

.action:hover {
  color: black;
  border-color: var(--hoverColor);
  background-color: var(--hoverColor);
  cursor: pointer;
}

.hover:hover {
  color: var(--hoverColor);
  border-color: var(--hoverColor);
  cursor: pointer;
}

.action-image {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--bgColorDark);
  border: 0.01em solid var(--textColor1);
  border-radius: var(--br);
}

.action-image:hover {
  background: var(--bgColorLight);
  border: 0.01em solid var(--hoverColor);
}

.menu-footer-information-panel {
  display: grid;
  grid-column: 2;
  grid-row: 1/3;
  grid-template-rows: 3em auto;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
  text-align: left;
  align-items: center;
  white-space: pre-line;
  border: 0.01em solid var(--textColor1);
  overflow-y: auto;
}

.information-display {
  display: inline-flex;
  grid-row: 2;
  grid-column: 1/3;
  font-size: 16px;
  background: var(--bgColorLight);
  color: var(--textColor1);
  font-family: Courier;
}
.purchase-button {
  display: inline-flex;
  grid-row: 1;
  grid-column: 1;
  padding: 0.5em;
  background: var(--bgColorLight);
  color: var(--textColor1);
  border: 0.01em solid var(--textColor1);
  border-radius: inherit;
  align-items: center;
  justify-content: center;
  font-family: Courier;
}

.cancel-button {
  display: inline-flex;
  grid-row: 1;
  grid-column: 2;
  padding: 0.5em;
  background: var(--bgColorLight);
  color: var(--textColor1);
  border: 0.01em solid var(--textColor1);
  border-radius: inherit;
  align-items: center;
  justify-content: center;
  font-family: Courier;
}

.end-turn-button {
  display: inline-flex;
  grid-row: 1;
  grid-column: 1/3;
  padding: 0.5em;
  background: var(--bgColorLight);
  color: var(--textColor1);
  border: 0.01em solid var(--textColor1);
  border-radius: inherit;
  align-items: center;
  justify-content: center;
  font-family: Courier;
}

.action-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0.01em solid var(--textColor1);
  border-radius: var(--br);
  background-color: #301500;
  width: 3em;
  height: 3em;
}

.tech-grid {
  display: grid;
  grid-row: 2;
  grid-template-columns: var(--displayWidth) minmax(20em, auto) 5em;
  grid-template-rows: var(--displayHeight) auto;
  grid-row-gap: 0.5em;
  grid-column-gap: 0.5em;
  height: auto;
}

.tech-tree {
  display: grid;
  grid-template-columns: repeat(5, 10vw);
  grid-auto-flow: row;
  grid-auto-rows: 10vw;
  grid-row: 1;
  grid-column: 1/3;
  grid-gap: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  overflow-y: auto;
  text-align: center;
  background: var(--bgColorLight);
  color: var(--textColor1);
  font-family: Courier;
  border: 0.01em solid var(--textColor1);
  border-radius: var(--br);
  height: auto;
}

.tech {
  align-items: center;
  justify-content: center;
  border: 0.01em solid var(--textColor1);
  border-radius: var(--br);
  background-color: var(--bgColorLight);
}

.tech-information-display {
  display: grid;
  grid-row: 1/3;
  grid-auto-flow: row;
  text-align: center;
  background: var(--bgColorLight);
  color: var(--textColor1);
  font-family: Courier;
  overflow-y: auto;
  padding: 0em 5em;
}

.game-stats-panel {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 4em;
  grid-row: 2;
  grid-gap: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  overflow-y: auto;
  text-align: center;
  background: var(--bgColorLight);
  color: var(--textColor1);
  font-family: Courier;
  border: 0.01em solid var(--textColor1);
  border-radius: var(--br);
  height: 100%;
}

.player-stats-summary {
  display: inline-flex;
  padding: 0.5em;
  background: var(--bgColorLight);
  color: var(--textColor1);
  border: 0.01em solid var(--textColor1);
  border-radius: inherit;
  align-items: center;
  justify-content: center;
  font-family: Courier;
}

/*styles prioritaires*/
.blocked {
  color: rgb(170, 170, 170);
  border-color: rgb(170, 170, 170);
}
