<p> Welcome {{ player.name }} !!</p>

Country state:
<ul>
    <li> Environmental state : {{ player.states.environmental }} </li>
    <li> Social state : {{ player.states.social }} </li>
    <li> Economical state : {{ player.states.economical }} </li>
</ul>

Resources supply:
<ul>
    <li> UM : {{ player.resources.um }} </li>
    <li> Pollution : {{ player.resources.pollution }} </li>
    <li> Hydrocarbons : {{ player.resources.hydrocarbons }} </li>
</ul>

Production:
<ul>
    <li> UM : {{ player.production.um }} </li>
    <li> Food : {{ player.production.food }} </li>
    <li> Electricity : {{ player.production.electricity }} </li>
    <li> Hydrocarbons : {{ player.production.hydrocarbons }} </li>
    <li> Pollution : {{ player.production.pollution }} </li>
    <li> Waste : {{ player.production.waste }} </li>
    <li> Environment regeneration : {{ green_income }} </li>
    
</ul>